<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>test power</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="/static/css/style_button.css"
      type="text/css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <footer class="pt-4 my-md-5 pt-md-5 bg-dark text-white">
      <div class="row">
        <div class="col-12 col-md">
          <img class="mb-2" src="/static/img/favicon.ico" width="100px">
        </div>
        <div class="col-6 col-md">
          <h5>Георг Леонид</h5>
          <a href="https://vk.com/leonidus023" target="_blank"><img src="https://sun9-41.userapi.com/impg/C8Tj-WFaGMvgV6mDr-cMNhoedCdr7pfKzbOuhg/SAst6s2b3hs.jpg?size=1620x2160&quality=96&sign=18f492bb5d2b5c92deaf2752b1709879&type=album" id='developers' alt="упс))"></a>
        </div>
        <div class="col-6 col-md">
          <h5>Анастасия Владимирцева</h5>
          <a href="https://vk.com/id179477127" target="_blank"><img src="https://sun9-53.userapi.com/impg/c857632/v857632453/234fe4/SIl864eUHe4.jpg?size=1200x1600&quality=96&sign=b117395f8475a4f197b56612b4464748&type=album" id="developers" alt="упс))"></a>
        </div>
        <div class="col-6 col-md">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
            <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
